# ide folder
.idea

# swagger binaries
swagger.exe
swagger

# swagger resource
/cmd

# dependencies
/vendor

# binary directory
/bin/*
!/bin/.gitkeep

#grpc
grpc/client/*
grpc/server/*
!grpc/client/client.go
!grpc/server/server.go