basePath: /v1
definitions:
  entries.Channel:
    properties:
      aspectRatio:
        type: string
      cdnvideo:
        type: integer
      dayArchive:
        type: integer
      descriptionEn:
        type: string
      descriptionRu:
        type: string
      foreignEpgId:
        type: integer
      foreignUrl:
        type: string
      image:
        type: string
      isForeign:
        type: integer
      nameEn:
        type: string
      nameRu:
        type: string
      ourId:
        type: integer
      playlistUrl:
        $ref: '#/definitions/entries.ChannelUrl'
        type: object
      public:
        type: integer
      tvprogram:
        type: integer
      withArchive:
        type: integer
    type: object
  entries.ChannelUrl:
    properties:
      epgId:
        type: string
      id:
        type: integer
      playlistOurId:
        type: integer
      tz:
        type: integer
      urlArchive:
        type: string
      urlProtocol:
        type: string
      urlSound:
        type: string
      urlStuff:
        type: string
    type: object
  entries.Programm:
    properties:
      aspect_ratio:
        type: string
      begin:
        type: integer
      current:
        type: boolean
      desc:
        type: string
      end:
        type: integer
      rating:
        type: string
      time:
        type: string
      title:
        type: string
      url:
        type: string
    type: object
  entries.ProgrammResponse:
    properties:
      active:
        type: boolean
      data:
        items:
          $ref: '#/definitions/entries.Programm'
        type: array
      name:
        type: string
      title:
        type: string
    type: object
host: epg.iptv2021.com
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server celler server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Swagger Example API
  version: "1.0"
paths:
  /channels:
    get:
      consumes:
      - application/json
      description: get string by ID
      operationId: get-string-by-int
      produces:
      - application/json
      responses:
        "200":
          description: ok
          schema:
            items:
              $ref: '#/definitions/entries.Channel'
            type: array
      summary: Show list of all channels
  /channels/{id}/programm:
    get:
      consumes:
      - application/json
      description: get string by ID
      operationId: get-string-by-int
      parameters:
      - description: Channel ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: ok
          schema:
            items:
              $ref: '#/definitions/entries.ProgrammResponse'
            type: array
      summary: Show TV programm list
swagger: "2.0"
